.game {
    background-image: url(../../assets/bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    width: 100%;
    flex: 1;
    padding: 12px;
}

.game .logo {
    width: 50px;
}

.game h2 {
    color: white;
    margin: 8px;
    margin-bottom: 0;
    font-size: 14px;
}

.codelabs {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
    width: 100%;
    flex: 1;
    align-items: center;
}

.codelabs .codelab {
    width: calc(95% - 24px);
    padding: 12px;
    border-radius: 4px;
    background-color: #42424287;
    display: flex;
}

.codelabs .codelab img {
    width: 50px;
    height: fit-content;
}

.codelabs .codelab .codelab-infos {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.codelabs .codelab .codelab-infos h3 {
    margin: 0;
    margin-bottom: 6px;
    font-size: 14px;
}

.codelabs .codelab .codelab-infos p {
    margin: 0;
    font-weight: 500;
    font-size: 13px;
}

.codelab-collected {
    color: white;
}

.codelab-not-collected {
    color: #B9B9B9;
}

.loading-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}